# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.map
Game/Debug/Game.pdb
Game/Debug/Game.exe
Game/Debug/Game.ilk
Game/Debug/libjpeg-9.dll
*.dll
Game/Game.sdf
# Game/Game.sln
Game/Game.v12.suo
Game/Game/Berserker.jpg
Game/Game/Debug/Game.log
*.tlog
*.obj
*.idb
*.pdb
Game/Game/Game.vcxproj
Game/Game/Game.vcxproj.filters
tileSEt.psd